html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Verdana, sans-serif;
}

* {
	box-sizing:border-box;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	background-color: #f4f4f4;
	outline: none;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}


.button {
	margin:0;
	border:#333 1px solid;
	padding:5px 23px;
	line-height: 24px;
	font-size: 14px;
	background:#FCFCFC;
	border-radius: 4px;
	box-shadow: none;
	outline:none;
	font-weight:400;
	color:#333;
	cursor: pointer;
	box-shadow:0 3px 0 #FFF inset, 0 -3px 0 #DDD inset;
	outline-style: solid;
    outline-color: rgba(0, 0, 255, .25);
    outline-width: 0;
    outline-offset: 2px;
    transition: box-shadow 100ms ease, color 100ms ease, border-color 100ms ease;
    text-align: center;
}

.button:hover {
	border-color:#222;
	color:#222;
	box-shadow:0 4px 0 #FFF inset, 0 -2px 0 #DDD inset;
	text-decoration: none;
}

.button:focus {
	outline-width: 4px;
}

.button.disabled {
	color:#999;
	border-color:#999;
	box-shadow:0 3px 0 #FFF inset;
	cursor:default;
}

.button.disabled:hover {
	color:#999;
	border-color:#999;
	box-shadow:0 3px 0 #FFF inset;
}

.button-icon {
	width:36px;
	height:36px;
	border-radius: 50%;
	font-size:20px;
	line-height: 30px;
	padding:0 0 4px 0;
}


h2 {
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

p {
	font-size:16.5px;
	line-height:30px;
}